
.index_top_row_box {

    display: flex;
    flex-direction: row;
    align-items: center;

   /* border-color: black;
    border-style: solid; */

    padding-top: 2px;
  /*  background-color: #F5F5F5; */

}

.top_row_space1 {

    width: 75px;

}

.top_row_logo_img_box {

    display: flex;
    flex-direction: column;

    width: 150px;
    height: 143px;

    background-color: black;

    align-items: center;
    align-self: center;
    justify-content: center;

    border-radius: 15px;

    cursor: pointer;

}

.rod_tekst_STOP {

    color: red;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 46px;
    margin: -2px;

}

.hvid_tekst_SPILD_AF {

    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 26px;
    margin: -2px;

}

.hvid_tekst_MAD {

    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin: -2px;

}

.top_row_space2 {

    width: 15px;

}

.top_row_princip_text_box {

    display: flex;
    flex-direction: column;


    /* background-color: #C2D188;
    border-radius: 15px; */
    padding: 10px;


}



.princip_headline {

    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    margin: 0px;
    padding-bottom: 15px;

}

.line_top {

    border-style: groove;
    border-color: #C2D188;


}


.princip_headline_text {

  /*  color: white; */
    color: black;
    font-family: "open sans", sans-serif;
    font-style: italic;
    font-size: 16px;
    margin: 0px;

    padding-top: 10px;
    padding-bottom: 10px;

}

.line_bottom {

    border-style: groove;
    border-color: #C2D188;


}


.top_row_promote_box_spaceBetween {



width: 400px;



}


.takeOver_promote_box {

    display: flex;

    width: 150px;
    height: 142px;



}

.top_row_promote_box {


    display: flex;
    flex-direction: row;



 border: lightgrey 5px double;


}

.top_row_promote_content1 {

    display: flex;
    flex-direction: column;


    width: 50px;
    height: 100px;

    padding-right: 10px;
    padding-top: 10px;

}

.top_row_promote_content2 {

    display: flex;
    flex-direction: column;






   width: 100px;
    height: 100px;
    padding-right: 10px;
    padding-top: 10px;


}

.top_row_promote_content3 {

    display: flex;

    flex-direction: row;


    height: 30px;


/*
    border-color: black;

    border-style: double;

    border-color: black;
*/


}



.language_button {

    padding-bottom: 10px;

    cursor: pointer;


}


.facebook_button {


    background-color: royalblue;

    border-radius: 10px;

    cursor: pointer;



}

.top_row_promote_content2_space {

width: 10px;

}

.folg_os_button {

    display: flex;
    align-self: center;

    color: white;
    background-color: #C2D188;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding: 5px;

    margin-bottom: 5px;


    border-radius: 10px;

    cursor: pointer;


}

.Kontakt_button {

    display: flex;
    align-self: center;

    color: white;
    background-color: #C2D188;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 0px;
    padding: 5px;

    margin-bottom: 5px;



    border-radius: 10px;

    cursor: pointer;


}

.searchField_text {

    cursor: pointer;


}

.searchButton_text {

    display: flex;
    align-self: center;

    color: black;
    background-color:lightgrey;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    padding: 6px;

    border-radius: 10px;
    border-color: grey;

    cursor: pointer;

}

.topnav {
    overflow: hidden;
   /* background-color: #333; */
}

.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: red;
}

.topnav a.active {
    /* background-color: #04AA6D;*/
    color: black;
}


* {box-sizing: border-box}
body {font-family: "open sans", sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1250px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: #C2D188;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}


.indexPage_background_img {

    background-color: #C2D188;

    /*
    width: 1280px;
    height: 250px;
*/

}

footer {

    display: flex;
    flex-direction: row;

    background-color: lightblue;
    width: 1280px;
    height: 250px;
    opacity: 0.5;

}
