<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/style.css">
    <title>Danmark mod Madspild</title>
</head>

<header>

    <div class ="index_top_row_box">

        <div class="top_row_space1"></div>

        <div class="top_row_logo_img_box">
            <p class="rod_tekst_STOP">STOP</p>
            <p class="hvid_tekst_SPILD_AF">SPILD AF</p>
            <p class="hvid_tekst_MAD">MAD</p>

          <!-- <img th:src="@{images/madspild_img/logo_img.PNG}" src="../static/images/madspild_img/logo_img.PNG}"> -->
        </div>

        <div class="top_row_space2"></div>



        <div class="top_row_princip_text_box">

          <!--  <h4 class="princip_headline">Stop Spild Af Mad</h4> -->

            <div class="line_top"></div>

            <p class="princip_headline_text">Vi er Danmarks største bevægelse mod madspild. <br><br>
                Vi har igangsat kampen mod madspild i Danmark. <br><br>
                Vi bragte Danmarks kamp mod madspild på verdenskortet. </p>

            <div class="line_bottom"></div>

        </div>


        <div class="top_row_promote_box_spaceBetween"></div>



<div class="takeOver_promote_box">

        <div class="top_row_promote_box">



            <div class="top_row_promote_content2">

                <p class="folg_os_button">Følg os</p>

                <div class="top_row_promote_content2_space"></div>

                <p class="Kontakt_button">Kontakt</p>



                <button class="searchButton_text" type="submit">Søg..</button>

            </div>

            <div class="top_row_promote_content1">

                <img class="language_button" th:src="@{images/madspild_img/index_img/english_img_edit.PNG}" src="../static/images/madspild_img/index_img/english_img_edit.PNG}">

                <img class="facebook_button" th:src="@{images/madspild_img/index_img/facebook_img_edit.PNG}" src="../static/images/madspild_img/index_img/facebook_img_edit.PNG}">


            </div>



        </div>



</div>


    </div>




</header>

<body>




</body>



</html>